{% extends base_template %}
{% block content %}

<div class="flex flex-col items-center">

    <h1 class="m-4 flex-none text-2xl">List of all Items</h1>
    <span class="ind">Searching...</span>
    <div class="mb-8 flex w-full flex-row items-center justify-center">
    <input hx-post="" hx-target="#search-results" hx-indicator=".ind" hx-swap="innerHTML" hx-select="#search-results" hx-trigger="keyup changed delay:500ms, search" hx-include="[name='own']"
    type="search" name="q" placeholder="Search..." autofocus autocomplete="off" class="input h-10 w-1/2 flex-none text-center">
    <div class="flex flex-col items-center">
    <label for="own" class="ml-8 flex-auto text-sm">Only show your objects</label>
    <input hx-post="" hx-target="#search-results" hx-indicator=".ind" hx-swap="innerHTML" hx-select="#search-results" hx-trigger="change" hx-include="[name='q']"
    type="checkbox" name="own" id="own" class="input ml-8 h-8 w-8 flex-none accent-c3 hover:cursor-pointer">
    </div>
    </div>
    <div id="search-results" class="w-full flex-auto items-center">
        {% for item  in items %}
            <div class="item h-50 flex w-full flex-row rounded-3xl border-4 border-c3 p-5">
                <div class="flex w-1/4 flex-none flex-col overflow-hidden">
                    <div class="mb-2 h-1/6 flex-none">USER:{{item.user_id}}|{{item.username}}</div>
                    <div class="mb-2 h-1/6 flex-none">TYPE: 
                        {% if item.category == "argument" %}
                            Argument
                        {% endif %}
                        {% if item.category == "premise" %}
                            Premise
                        {% endif %}
                        {% if item.category == "conclusion" %}
                            Conclusion
                        {% endif %}
                    </div>
                    <div class="flex-auto">
                        TITLE: {{ item.title }}
                    </div>
                    <button hx-get="{{ url_for('argue.details', category=item.category, id=item.id) }}" hx-target="#main" hx-swap="innerHTML" hx-push-url="true"
                            class="mb-2 flex h-1/6 w-full flex-none items-center justify-center rounded-3xl bg-c2 hover:bg-c3">
                        Details
                    </button>
                    <button hx-delete="{{ url_for('argue.delete', category=item.category, id=item.id) }}" hx-target="closest .item" hx-swap="outerHTML" hx-confirm="Are you sure you want to delete?"
                            class="flex h-1/6 w-full flex-none items-center justify-center rounded-3xl bg-c2 hover:bg-c3">
                        Delete
                    </button>
                </div>
                <div class="ml-4 w-3/4 flex-none">
                    <p>CONTENT:</p>
                    <p class="line-clamp-3">
                            {{ item.content }}
                    </p>
                </div>
            </div>
        {% endfor %}

    </div>

</div>
{% endblock %}
