<div class="">
<a class="m-2 hover:text-c3" href="{{ url_for('base.about') }}">About</a>
<a class="m-2 hover:text-c3" href="{{ url_for('argue.index') }}"> Overview </a>
<a class="m-2 hover:text-c3" href="{{ url_for('argue.list_overview') }}"> List </a>
</div>
{% include 'basics/flash.html' %}
<div class="">
{% if g.user %}
    <span class="m-2">Logged in as {{ g.user.username }} | id: {{ g.user.id }}</span>
    <a class="m-2 hover:text-c3" href="{{ url_for('auth.logout') }}">Log out</a>
{% else %}
    <a class="m-2 hover:text-c3" href="{{ url_for('auth.login') }}">Log in</a>
    <a class="m-2 hover:text-c3" href="{{ url_for('auth.register') }}">Register</a>
{% endif %}
</div>
