{% extends "argue/base.html" %}
{% block content %}
    <form hx-put="" hx-target="this" hx-swap="outerHTML">
        <div>
            <label>Username</label>
            <input type="text" name="username" autofocus>
        </div>
        <div>
            <label>Email</label>
            <input type="text" name="email">
        </div>
        <button type="submit">Save</button>
        <button hx-get="">Cancel</button>
        {% include "argue/list.html" %}
    </form>
{% endblock content %}
