<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Content</th>
            <th>Owner</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody >
        {% for axiom in axioms %}
        <tr>
            <td>{{axiom.name}}</td>
            <td>{{axiom.content}}</td>
            <td>{{axiom.owner.username}}</td>
            <td>
                <button hx-target="closest tr"
                    hx-swap="outerHTML"
                    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                    hx-delete={% url 'delete' axiom.id %}
                    hx-push-url="false">
                    Delete
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
